*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
    background-color: #1a1616;
}
.titulo1{
    text-align: center;
    color: #d13189;
    font-size: 45px;
    font-style: italic;
}
.subTitulo{
    text-align: justify;
    margin-left: 69px;
    color: whitesmoke;
}

.tabla{
    color: whitesmoke;
    margin-left: 69px;
    font-size: 25px;
}
.total{
    color: whitesmoke;
    margin-left: 69px;
}
.centrar{
    color: whitesmoke;
    margin-left: 69px;
}
